@import '../../base/var.module';

.h-form__item {
  min-height: 100px;
  // layout
  &--horizontal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &--vertical {
    display: flex;
    flex-direction: column;
    // margin-bottom: 20px;
  }
  &__msg {
    margin-bottom: 0;
    color: red;
    font-size: 8px;
  }
}
.h-form__label {
  align-self: flex-start;
  &--vertical {
    padding-bottom: 8px;
  }
  // labelSize
  &--sm {
    flex: 0 0 80px;
  }

  &--md {
    flex: 0 0 100px;
  }

  &--lg {
    flex: 0 0 150px;
  }

  &--start {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--end {
    text-align: right;
  }
}
