/* var.css */
:root {
  code,
  kbd,
  samp {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    135deg,
    #66ff00 10%,
    #58cffb 100%
  );

  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #55ff00 10%,
    #42efcf 100%
  );
  --vp-home-hero-image-filter: blur(150px);
}
