// @import './iconfont.scss';
@import './var';

.icon {
  &:hover {
    &::before {
      color: $icon-color-hover;
      transition: color $anim-time-fn-ease-out $anim-duration-slow;
    }
  }
}
.h-icon:hover {
  color: $icon-color-hover;
}
