@use 'foo.module';
@use './button/button.module';
@use './icon/icon.module';
@use './menu/menu.module';
@use './menu-item/menu-item.module';
@use './form/form.module';
@use './form-item/form-item.module';
@use './input/input.module';
@use './switch/switch.module';
@use './alert/alert.module';
@use "./sub-menu/sub-menu.module";
@use "./datepicker/datepicker.module";
@use "./avatar/avatar.module";
@use "./empty/empty.module";
@use "./card/card.module";
@use "./progress/progress.module";
@use "./drawer/drawer.module";
@use "./message/message.module";

@use "./divider/divider.module";
@use "./link/link.module";
@use "./table/table.module";
@use "./back-to-top/back-to-top.module";
