@use 'foo.module';
@use './button/button.module';
@use './icon/icon.module';
@use './menu/menu.module';
@use './menu-item/menu-item.module';
@use './form/form.module';
@use './form-item/form-item.module';
@use './input/input.module';
@use './switch/switch.module';
@use './alert/alert.module';
@use "./sub-menu/sub-menu.module";
@use "./datepicker/datepicker.module";

@use "./avatar/avatar.module";
@use "./empty/empty.module";
@use "./card/card.module";
@use "./progress/progress.module";
