@import '../../base';
$menu-item-border-radius: $border-radius-default;

$menu-item-color-active: $brand-color-light;
$menu-item-color-bg-active: $brand-color;

$menu-item-padding-x: 1rem;
$menu-item-padding-y: .5rem;