
@import "../../base/var.module";
@import '../../base/private/animation';
@import '../../base/private/color';
@import '../../base/private/corner';
@import '../../base/private/font';
@import '../../base/private/shadow';
@import '../../base/private/z-index';

$h-prefix: 'h';


.#{$h-prefix}-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $h-shadow;
}

.drawer-overlay-fade-enter-active,
.drawer-overlay-fade-leave-active {
  transition: opacity 0.1s linear;
}

.drawer-overlay-fade-enter-from,
.drawer-overlay-fade-leave-to {
  opacity: 0;
}
