@import '../../base/variables';
// 外包装颜色
$dp-wrapper-border-color: $gray-color-4;
$dp-wrapper-border-color-hover: $brand-color-active;
$dp-wrapper-border-color: $brand-color;

// 外包装字号
$dp-wrapper-height-sm: 20px;
$dp-wrapper-height-md: 30px;
$dp-wrapper-height-lg: 40px;

// z-index
$dp-main-z: $z-index-dialog;
// input动画
$dp-input-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
// 下拉的动画
$dp-dropdown-transition: cubic-bezier(0.19, 1, 0.22, 1);
$dp-dropdown-transition-time: 0.5s;
