@import './var';
@mixin commonWrapper($height) {
  position: relative;
  border-radius: 5px;
  &__input {
    padding: 0 5px;
    border: 1px solid $dp-wrapper-border-color;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: all $dp-input-transition 0.2s;
    &:hover {
      border: 1px solid $dp-wrapper-border-color-hover;
    }
    &:focus {
      border: 1px solid $dp-wrapper-border-color-hover;
      box-shadow: $dp-wrapper-border-color-hover 0px 1px 4px;
    }
  }
  &__main {
    @include commonMain($height);
    &--active {
      height: 244px;
      box-shadow: $dp-wrapper-border-color-hover 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    @include dateMode();
  }
}

// @mixin commonMain($top, $width: 240px) {
//   border-radius: 5px;
//   position: absolute;
//   top: calc($top + 5px);
//   left: 0;
//   width: $width;
//   overflow-y: auto;
//   height: 0;
//   z-index: $dp-main-z;
//   transition: all $dp-dropdown-transition 0.3s;
//   &::-webkit-scrollbar {
//     width: 0;
//   }
// }
