@import '../../base/var.module';

.h-switch{
  --switch-color: #00008B;
  --switch-width: 40px;
  --active-color: #228B22;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: max-content;
  .h-switch__core{
     margin: 0;
     display: inline-block;
     position: relative;
     width: var(--switch-width);
     height: 20px;
     border: 1px solid #dcdfe6;
     outline: none;
     border-radius: 10px;
     box-sizing: border-box;
     cursor: pointer;
     border-color: var(--switch-color);
     background-color: var(--switch-color);
     transition: border-color .3s,background-color .3s;
     vertical-align: middle;
     .h-switch__button{
       position:absolute;
       top: 1px;
       left: 1px;
       border-radius: 100%;
       transition: all .3s;
       width: 16px;
       height: 16px;
       background-color: white;
     }
  }
}

.is_checked {
  transform: translateX(calc(var(--switch-width) - 20px));
}

.h-switch__label--left {
  margin-left: 3px;
}

.h-switch__label--right {
  margin-right: 3px;
}

.h-switch__label--color {
  color: var(--active-color);
}

// 隐藏input
.h-switch__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}
