@import './var';

.h-menu {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  box-shadow: $menu-box-shadow;
  padding-left: 0;
  gap: $menu-gap;
  &--horizontal {
    margin-bottom: 30px;
  }
  &--vertical{
    flex-direction: column;
  }
}
